.admin-margin {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.admin-title {
  color: var(--dark-solid);
  font-family: var(--alternative-font);
  font-size: var(--font-xxlarge);
  font-weight: 700;
  letter-spacing: 1.68px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-12);
  margin-top: var(--spacing-12);
}

.login-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-12);
}

.admin-label-text {
  color: var(--dark-font-solid);
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 400;
  letter-spacing: 0.96px;
}

.admin-input-line {
  border: 2px solid var(--primary-solid);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: #b9b9b9;
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight: 400;
  letter-spacing: 0.64px;
}
.login-item-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-item-button {
  width: 102.995px;
  height: 39.062px;
  border: none;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  margin: 0 var(--spacing-36);
}

#recordar {
  width: 16.275px;
  height: 16.275px;
  border-radius: 3px;
  border: 2px solid #1f1f1f;
  text-align: right;
  margin: var(--spacing-8);
}

.checkbox-title {
  color: #1f1f1f;
  font-family: Inter;
  font-size: var(--font-medium);
  font-weight: 400;
}

.password {
  color: #1d84b5;
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.admin-margin p {
  font-family: var(--alternative-font);
  font-size: var(--font-xlarge);
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: var(--spacing-16);
}

.register-item-label {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: var(--spacing-16);
}

.terminos {
  color: var(--secundary-solid);
}

#aceptar {
  width: 16.275px;
  height: 16.275px;
  border-radius: 3px;
  border: 2px solid var(--dark-solid);
  text-align: right;
  margin: var(--spacing-8);
}
